.nav{
    padding: .5rem 5rem;
    background-color:rgb(32, 32, 252);
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    box-shadow: 0 0 3px gray;
    margin-bottom: 1rem;
}
.nav h1{
    cursor: pointer;
}
.options{
    display: flex;
    gap:  2rem;
}
.options a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
}